step-functions/input-output-paths.json
{
  "Comment": "Order Processing Workflow",
  "StartAt": "Pass",
  "States": {
    "Pass": {
      "Type": "Pass",
      "Next": "validateOrder",
      "Parameters": {
        "Payload.$": "States.StringToJson($[0].body)"
      }
    },
    "validateOrder": {
      "Type": "Task",
      "InputPath": "$.Payload",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:471112531497:function:validateOrder:$LATEST"
      },
      "Next": "confirmOrder"
    },
    "confirmOrder": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:471112531497:function:confirmOrder:$LATEST"
      },
      "End": true
    }
  }
}